/********************* Utility **********************/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --color-sfondo-1: rgb(229, 228, 228);
    --color-sfondo-2: rgb(229, 228, 228);
    --color-titolo: black;
    --color-bottone: black;
    --color-stats: black;
    --color-winners: black;
    --color-player: #023e8a;
    --color-score: grey;
    --color-dice:black;
    --color-testo-dice: rgb(219, 0, 0);
    --color-testo: black;

}

/********************* Header **********************/
header{
    background-color: var(--color-sfondo-1);
    padding: 1rem;
    color: var(--color-testo);
    height: 200px;
}
header h1{
    color: var(--color-titolo);
}
header .my-input{
    max-width: 900px;
    margin: auto;
}
header .btn-play{
    background-color: var(--color-bottone);
    border: 0;
    padding: 0;
    border-radius: 10px;
    color: white;
}
.home{
    position: absolute;
    bottom: 10px; right:20px;
}

/********************* Sezione statistiche **********************/
.stats{
    font-size: 1.5rem;
    font-weight: bold;
    background-color: var(--color-sfondo-1);
    color: var(--color-testo);
    padding: 0 1rem 1rem;
    height: calc(100vh - 200px);
}
.title-stats{
    font-size: 2.8rem;
    color: var(--color-stats);
    margin-bottom: 2rem;
}
.inner-stats{
    height: 75%;
    overflow: auto;
}

/********************* Sezione del gioco **********************/
.the-game{
    padding-top: 3rem;
    background-color: var(--color-sfondo-2);
    height: calc(100vh - 200px);
    overflow: auto;
}
.winners{
    font-size: 2.8rem;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    color: var(--color-winners);
}
.players{
    display: flex;
    flex-wrap: wrap;
}
.player{
    width: calc(100% / 2);
    padding: 1.3rem;
}
.name-player{
    font-size: 2.5rem;
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    color: var(--color-player)
}
.score-player{
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 2.5rem;
    color: var(--color-score);
}
.dice-player{
    width: 60px;
    height: 60px;
    line-height: 50px;
    text-align: center;
    border-radius: 10px;
    color: var(--color-testo-dice);
    border: 5px solid var(--color-dice);
    display: inline-block;
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
}